<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
    <div class="container">
        <h3 th:text="#{details}" class="text-sm-center"></h3>
        <div class="row">
            <div class="col-sm-2" th:text="#{dentist.name}">dentist.name</div>
            <div class="col-sm-10" th:text="${dentistVisit.dentistName}"></div>
        </div>
        <div class="row">
            <div class="col-sm-2" th:text="#{patient.name}"></div>
            <div class="col-sm-10" th:text="${dentistVisit.personFullName}"></div>
        </div>
        <div class="row">
            <div class="col-sm-2" th:text="#{person.personalCode}"></div>
            <div class="col-sm-10" th:text="${dentistVisit.personPersonalCode}"></div>
        </div>
        <div class="row">
            <div class="col-sm-2" th:text="#{visit.date}"></div>
            <div class="col-sm-10" th:text="${#dates.format(dentistVisit.visitDate, 'dd MMMM yyyy')}"></div>
        </div>
        <div class="row">
            <div class="col-sm-2" th:text="#{visit.time}"></div>
            <div class="col-sm-10" th:text="${#dates.format(dentistVisit.visitTime, 'HH:mm')}"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a th:href="@{'/edit/' + ${dentistVisit.id}}" th:text="#{edit}">Edit</a> |
                <a th:href="@{'/delete/' + ${dentistVisit.id}}" th:text="#{delete}" class="text-danger">Delete</a> |
                <a th:href="@{/results}" th:text="#{back.to.list}">Back to list</a>
            </div>
        </div>
    </div>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>

</html>