<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
    <div class="form-group">
        <label th:text="#{dentist.name}">dentist.name</label>
        <select th:each="dentist: ${dentists}" class="form-control">
            <option th:text="${{dentist.getName}}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:text="#{visit.date}">visit.date</label>
        <input type="text" th:field="*{visitTime}" class="form-control"/>
        <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">date.error</td>
    </div>
        <button type="submit" th:text="#{register.visit}" class="btn btn-primary"></button>
</form>
</body>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</html>

<!--Header&Footer&Bootstrap init things from https://stackoverflow.com/questions/49147216/spring-boot-thymeleaf-webjars-bootstrap-4-->