<header xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dentist App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${module == 'form' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}" th:text="#{register}">Register</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'results' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/results}" th:text="#{list.view}">List view</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--Source: https://www.thymeleaf.org/doc/articles/layouts.html-->
